<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dojogram Dashboard</title>
</head>
<body>
    <header>
        {% block header %} {% include 'header.html' %} {% endblock header %}
    </header>
    <div class="messages">
        {% block msg %} {% include 'messages.html' %} {% endblock msg %}
    </div>
    <main>
        <div class="row_left"> 
            <h1>Dashboard</h1>
            
            <h2>Dojogram Feed</h2>
            <button> <a href="/image/add/">Add Image</a></button>
            <button> <a href="/dashboardClassic/">View Classic Dashboard</a></button>

            {% if rec in getAllImageAllUser == None %}
                <p>There are no Dojogram images yet.  Let's <a href="/image/add/">create one!</a></p>
            {% else %}

            {% for rec in getAllImageAllUser %}

            <table class="table_01" >
                <tr> 
                    <td colspan="2" class="td_01">
                        <img src="{{rec.filePath}}" alt="some image" width="400">    
                    </td>
                </tr>
                
                <tr>
                    <td class="td_01"> 
                        Contributor:
                    </td>
                    <td class="td_01"> 
                        <a href="/profile/{{rec.createdByUser.id}}/">{{rec.createdByUser.userName}}</a> ({{rec.createdByUser.firstName}} {{rec.createdByUser.lastName}}) 
                    </td>    
                </tr>

                <tr>
                    <td class="td_01"> 
                        Image Title:
                    </td>
                    <td class="td_01"> 
                        {{rec.imageTitle}} 
                    </td>    
                </tr>
                <tr>
                    <td class="td_01"> 
                        Image Info:
                    </td>
                    <td class="td_01"> 
                        <p>
                            {% set arbitraryVariable = rec.imageInfo.split("\r\n") %} 
                            {% for row in arbitraryVariable: %}
                                {{row}} <br>
                            {% endfor %}
                        </p>
                    </td>    
                </tr>
                <tr>
                    <td class="td_01"> 
                        File path:
                    </td>
                    <td class="td_01"> 
                        {{rec.filePath}}
                    </td>    
                </tr>

                <tr>
                    <td class="td_01"> 
                        Created:
                    </td>
                    <td class="td_01"> 
                        {% if rec.createdAt %}
                            {{rec.createdAt.strftime('%Y-%m-%d')}}
                        {% else %}
                            No created, buddy!!
                        {% endif %}
                    </td>    
                </tr>
                <tr> 
                    <td colspan="2" class="td_01">
                        <button> <a href="/image/{{rec.id}}/">View this Dojogram</a></button>
                        
                    </td>
                </tr>

            </table>
            {% endfor %}
            {% endif %}
            
        </div>
    </main>
    

    
    <footer>

    </footer>
</body>
</html>