<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dojogram Dashboard</title>
</head>
<body>
    <header>
        {% block header %} {% include 'header.html' %} {% endblock header %}
    </header>
    <div class="messages">
        {% block msg %} {% include 'messages.html' %} {% endblock msg %}
    </div>
    <main>
        <div class="row_left"> 
            <h1>Dashboard</h1>
            
            <h2>Dojogram Feed</h2>
            <button> <a href="/image/add/">Add Image</a></button>
            <button> <a href="/dashboard/">View Contemporary Dashboard</a></button>

            <!-- first very simple table -->
            <table class="table_01" >
                <tr>
                    <th class="th_01">Contributor</th>
                    <th class="th_01">Image Title</th>
                    <th class="th_01">File Path</th>
                    <th class="th_01">Created</th>
                </tr>
                
                {% for rec in getAllImageAllUser %}
                <tr>
                    <td class="td_01"> 
                        {{rec.createdByUser.firstName}} {{rec.createdByUser.lastName}} 
                    </td>    
                    
                    <td class="td_01">
                        {{rec.imageTitle}}
                    </td>
                    <td class="td_01">
                        {{rec.filePath}}
                    </td>
                    <td class="td_01">
                        {% if rec.createdAt %}
                            {{rec.createdAt.strftime('%Y-%m-%d')}}
                        {% else %}
                            No created, buddy!!
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>

            
            
        </div>
    </main>
    

    
    <footer>

    </footer>
</body>
</html>