<!DOCTYPE html>
<html lang="en">
<body>
    {% block header %}
    <div class="header_content"> 
        <div class="header_content_vert_left"> 
            <a href="/dashboard/" class="header_home_link" >
                <h1>Dojogram</h1>
                <h2>Feel the love.</h2>
            </a>
        </div>
        <div class="header_content_vert_right"> 
            <h2>Welcome, {{getSessionUser.userName}}</h2>
            <h4>(UserID: {{getSessionUser.id}})</h4>
            <div class="header_content_horiz_right">
                <a href="/profile/{{getSessionUser.id}}/">My Profile</a>
                <a href="/logout/">Logout</a>
            </div>
        </div>
    </div>
    {% endblock header %}
</body>
</html>