<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{dsp_get_oneRecipe.recipeName}}</title>
</head>
<body>
    <header>
        <div class="header_content"> 
            <div class="header_content_vert_left"> 
                <h1>Recipes</h1>
                <h2>Your guide to kitchen sanity. </h2>
            </div>
            <div class="header_content_vert_right"> 
                <h2>Welcome, {{dsp_get_oneUser.firstName}}</h2>
                <h4>(UserID: {{dsp_get_oneUser.id}})</h4>
                <a href="/logout/">Logout</a>
            </div>
        </div>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <div class="row_left"> 
            <div class="row_flex_left">
                <h1>{{dsp_get_oneRecipe.recipeName}}   </h1>
                <h4>(Recipe ID={{dsp_get_oneRecipe.id}})</h4>
            </div>
            <table class="table_02">
                    <tr> 
                        <td class="td_02_bold">Description:</td>
                        <td class="td_02">
                            <p>
                                {% set rec_desc = dsp_get_oneRecipe.recipeDesc.split("\r\n") %} 
                                {% for rec in rec_desc: %}
                                    {{rec}} <br>
                                {% endfor %}
                            </p>
                        </td>
                    </tr>

                    <tr> 
                        <td class="td_02_bold">Instructions:</td>
                        <td class="td_02">
                            <p>
                                {% set rec_desc = dsp_get_oneRecipe.recipeInst.split("\r\n") %} 
                                {% for rec in rec_desc: %}
                                    {{rec}} <br>
                                {% endfor %}
                            </p>
                        </td>
                    </tr>

                    <tr> 
                        <td class="td_02_bold">under30min:</td>
                        <td class="td_02">{{dsp_get_oneRecipe.under30min}}</td>
                    </tr>

                    <tr> 
                        <td class="td_02_bold">dateMade:</td>
                        <td class="td_02">
                            {% if dsp_get_oneRecipe.dateMade %}
                            {{dsp_get_oneRecipe.dateMade.strftime('%Y-%m-%d')}}
                            {% else %}
                            No dateMade, buddy!!
                            {% endif %}
                        </td>
                    </tr>

            </table>
            
                {%if dsp_get_oneRecipe.user_id ==  dsp_get_oneUser.id %}
                    <div class="row_flex_left">
                        <button> <a href="/recipe/{{dsp_get_oneRecipe.id}}/edit/">Edit Recipe</a></button>
                        <button> <a href="/recipe/{{dsp_get_oneRecipe.id}}/delete/">Delete Recipe</a></button>
                        <button> <a href="/dashboard/">Back to Dashboard</a></button>
                    </div>  
                {% else %}
                    <p>Note: Only the creator of a recipe can edit or delete the recipe.  Contact {{dsp_get_oneRecipe.user_id}} with suggested edits. </p>
                    <button> <a href="/dashboard/">Back to Dashboard</a></button>
                {% endif %}
            
        </div> 
    </main>
</body>
</html>