<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Image View</title>
</head>
<body>
    <header>
        {% block menu %} {% include 'header.html' %} {% endblock menu %}
    </header>

    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <div class="row_left"> 
            <h1>Single Image View</h1>
            
            {% for rec in getOneImageOneUser %}
            <table class="table_01" >
                <tr> 
                    <td colspan="2" class="td_01">
                        <img src="{{rec.filePath}}" alt="some image" width="400">    
                    </td>
                </tr>
                <tr>
                    <td class="td_01"> 
                        Contributor:
                    </td>
                    <td class="td_01"> 
                        {{rec.createdByUser.firstName}} {{rec.createdByUser.lastName}} 
                    </td>    
                </tr>
                <tr>
                    <td class="td_01"> 
                        Image Title:
                    </td>
                    <td class="td_01"> 
                        {{rec.imageTitle}} 
                    </td>    
                </tr>
                <tr>
                    <td class="td_01"> 
                        File path:
                    </td>
                    <td class="td_01"> 
                        {{rec.filePath}}
                    </td>    
                </tr>
                <tr>
                    <td class="td_01"> 
                        Created:
                    </td>
                    <td class="td_01"> 
                        {% if rec.createdAt %}
                            {{rec.createdAt.strftime('%Y-%m-%d')}}
                        {% else %}
                            No created, buddy!!
                        {% endif %}
                    </td>    
                </tr>
                <tr> 
                    <td colspan="2" class="td_01">
                        View/Contribute to this Dojogram
                    </td>
                </tr>
                <tr> 
                    <td colspan="2" class="td_01">
                        Interactions: gonna try to make it happen on this page!
                    </td>
                </tr>

                <tr> 
                    <td colspan="2" class="td_01">
                        <table class="table_01" >
                            <tr>
                                <td class="td_01">
                                    comment creator:
                                </td>
                                
                                <td class="td_01">
                                    comment text
                                </td>
                            </tr>
                            {% for rec in getOneImageAllInterAllUser %}
                            <tr>
                                <td class="td_01"> 
                                    {{rec.createdByUser.userName}} 
                                </td>    
                                <td class="td_01">
                                    {{rec.InteractionSolutionVar.comment}}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
            {% endfor %}
            
        </div>
        <div class="row_left"> 
            <h1>Comment on this Dojogram</h1>
            <table class="table_02">
                <form action="/interaction/create/{{getOneImage.id}}/" method="post" > 
                    <tr>
                        <td class="td_02_bold">
                            <label for="comment">Comment:</label>
                        </td>
                        <td class="td_02">
                            <textarea name="comment" rows="10" cols="60"></textarea>
                        </td>
                    </tr>    
                    
                    <tr>
                        <td colspan="2" class="td_02">
                            <button>Save Interction!</button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </main>
    

    
    <footer>

    </footer>
</body>
</html>