<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Edit Recipe</title>
</head>
<body>
    <header>
        {% block menu %} {% include 'header.html' %} {% endblock menu %}
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <div class="row_left"> 
            <h1>Add an image</h1>
            <table class="table_02">
                <form action="/image/create/{{dsp_getSessionUser.id}}/" method="post" > 

                    <!-- <tr>
                        <td colspan="2" class="th_02">
                            <input type="text" name="imageTitle" >
                            <label for="imageTitle">(Image Title)</label>
                        </td>
                    </tr>
                    <tr> -->
                        <td class="td_02_bold">
                            <label for="imageTitle">Image title:</label>
                        </td>
                        <td class="td_02">
                            <input type="text" name="imageTitle" >
                        </td>
                    </tr>   

                    <tr>
                        <td class="td_02_bold">
                            <label for="imageInfo">imageInfo:</label>
                        </td>
                        <td class="td_02">
                            <textarea name="imageInfo" rows="10" cols="60"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_02_bold">
                            <label for="filePath">Filepath:</label>
                        </td>
                        <td class="td_02">
                            <input type="text" name="filePath" >
                        </td>
                    </tr>    
                    <!-- <tr>
                        <td class="td_02_bold">
                            <p>Under 30 mins? </p>
                        </td>
                        <td class="td_02">
                            <input type="radio" id="yes" name="under30min" value="yes" >
                            <label for="yes">Yes</label><br>
                            <input type="radio" id="no" name="under30min" value="no" >
                            <label for="no">No</label><br>
                        </td>
                    </tr>    
                    <tr>
                        <td class="td_02_bold">
                            <label for="dateMade">Date Made:</label>
                        </td>
                        <td class="td_02">
                            <input type="date" id="dateMade" name="dateMade" >
                        </td>
                    </tr> -->
                    <tr>
                        <td colspan="2" class="td_02">
                            <button>Save Image</button>
                        </td>
                    </tr>
                </form>
            </table>
            <button> <a href="/profile/{{dsp_getSessionUser.id}}/">Cancel New Image</a></button>
        </div>
    </main>
</body>
</html>