<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Xxx</title>
</head>
<body>
    <header>
        {% block header %} {% include 'header.html' %} {% endblock header %}
    </header>
    <div class="messages">
        {% block msg %} {% include 'messages.html' %} {% endblock msg %}
    </div>
    <main>
        <div class="row_left"> 
            <h1>ProfileEditScreen for {{getOneUser.userName}}</h1>  

            <table class="table_03">
                <form action="/profile/{{getOneUser.id}}/update/" method="post" > 
                    <tr>
                        <td class="td_03_right">
                            <label for="email">Email:</label>
                        </td>
                        <td class="td_03">
                            <input type="text" name="email" value="{{getOneUser.email}}">
                        </td>
                    </tr>

                    <tr>
                        <td class="td_03_right">
                            <label for="userName">userName:</label>
                        </td>
                        <td class="td_03">
                            <input type="text" name="userName" value="{{getOneUser.userName}}">
                        </td>
                    </tr>

                    <tr>
                        <td class="td_03_right">
                            <label for="firstName">First Name:</label>
                        </td>
                        <td class="td_03">
                            <input type="text" name="firstName" value="{{getOneUser.firstName}}">
                        </td>
                    </tr>

                    <tr>
                        <td class="td_03_right">
                            <label for="lastName">Last Name:</label>
                        </td>
                        <td class="td_03">
                            <input type="text" name="lastName" value="{{getOneUser.lastName}}">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="td_03_span2">
                            <button>Update Profile</a></button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </main>
    

    
    <footer>

    </footer>
</body>
</html>